body, *, *:before, *:after {
	box-sizing: border-box;
}
body {
	background: wheat;
}

/* Header */
#header{
	display: flex;
	justify-content: space-between;
}

#header-img {
	width: 100px;
	height: 60px;
}
#header div {
	display: flex;
	justify-content: flex-start;
	margin-left: 2em;
}
#header div h1 {
	margin-left: 1em;
}

.nav-link {
	display: inline;
	text-decoration: none;
}
#nav-bar ul > li{
	margin: 0 1em 0;
}
#nav-bar ul li:last-child{
	margin-right: 2em;
}
/* Form */
#form {
	text-align: center;
	margin: 2em 0 2em 0;
}


/* Features */
.grid--container {
	display: inline-grid;
	grid-template-columns: auto auto;
	background: white;
	padding: 10px;
	width: 960px;
	position: relative;
	left: 20%;
}
h3{
	margin-right: 1em;
}
.grid--item {
	
	padding: 20px;
	display: flex;
	align-content: center;
	position: relative;
}
.fas{
	position: absolute;
	top: 45%;
}


/* Video */
.video__container{
	margin: 2em 0 2em 0;
	display: flex;
	justify-content: center;
}

/* Price */
#price{
margin: auto;
display: flex;
justify-content: center;
}
#price div.price__card{
	float: left;
	text-align: center;
	border: 1px solid black;
	margin-right: 2em;
	margin-top: 1em;
	width: 250px;
}
#price div:last-child{
	margin-right: 0;
}

/* Footer */
footer {
	width: 840px;
	margin:auto;
	background: lightgray;
	margin-top: 2em;
}
footer div{
	display: flex;
	justify-content: flex-end;
	
}
footer div ul > li {
	margin-right: 1em;
}
footer div ul:last-child {
	margin-right: 2em;
}
#copyright {
	display: flex;
	justify-content: flex-end;
	margin-right: 2em;
}
